
.social-media-items{
    width: 70%;
    background-color: #fff;
}

.icono-item{
    font-size: 2em;

}

.link{
    font-size: 1.5em;
    color:  #000;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


@media (min-width: 668px) {
    .social-media-items{
        width: 30%;
        background:#fff;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: space-between; */
        /* margin-bottom: 15px; */
    }
    
}
